.Try
{
    width: 140px;
    height: 56px;
    margin-top: 48px;
    border-radius: 28px;
    background: #FFFFFF;
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FF572F;


    margin-bottom: 0em;
}

