.Home-explication
{
    width: 520px;
    height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    font-size: 24px;
    letter-spacing: 0.104348px;
    text-align: left;

    color: #FFFFFF;

    margin-top: 40px;
}